@import "../mix";

@prefix: wx-v2;
@sPrefix: ws;

@themeColor: #279b7e;
@themeHoverColor: #28a688;

@wx-color-info: #0b6adf;
@wx-color-error: #f82437;
@wx-color-success: #28a688;
@wx-color-warning: #f38f20;
@wx-color-primary: #696868;
@wx-color-disable: #f5f5f5;

@wx-toast-bg: #fff;




@wxSuccessColor: #279b7e;
@wxErrorColor: #ff1c28;
@wxWarningColor: #ffaf53;
@wxPrimaryColor: #303030;

/** form **/
@wx-v2-input-default-border: #dfdfdf;

@wx-color-border-default: #e7e7e7;

/** wx-form **/
@wx-form-default-focus-color: @themeColor;

/** wx-input **/
@wx-input-color-required: #e00;
@wx-input-color-focus: @themeColor;

/** wx-message **/
@wx-notice-bg-info: #f9f9ff;
@wx-notice-bg-error: #fff9f9;
@wx-notice-bg-success: #f9fff9;
@wx-notice-bg-warning: #fcfcfc;
@wx-notice-bg-primary: #f9f9f9;

/** wx-button **/
@wx-button-color-success: @wx-color-success;
@wx-button-color-success-hover: #2aa687;
@wx-button-color-error: @wx-color-error;
@wx-button-color-error-hover: #fb3c4d;
@wx-button-color-warning: @wx-color-warning;
@wx-button-color-warning-hover: #fb982b;
@wx-button-color-info: @wx-color-info;
@wx-button-color-info-hover: #3e40e6;
@wx-button-color-primary: @wx-color-primary;
@wx-button-color-primary-hover: #737171;

/** wx-panel **/
@wx-panel-border: 1px solid @wx-color-border-default;

/** wx-section **/
@wx-section-color-border: @wx-color-border-default;

/** wx-list **/
@wx-list-color-separator: #e5e5e5;

/** wx-slider **/
@wx-slider-color: @themeColor;
@wx-slider-color-bg: #e3e3e3;
@wx-slider-color-fp: #e3e3e3;
@wx-slider-color-sp: @wx-slider-color;
@wx-slider-color-drag-btn: @themeColor;
@wx-slider-radius: 2px;

/** wx-header **/
@wx-header-color: #051712;

/** wx-nav **/
@wx-nav-color: @themeColor;

/* Cell line */
@wx-cell-border-color: #b3b3b3;
@wx-fixedLine-color: #333b32;
@wx-fixedMark-size: 8px;
@wx-fixed-MarkHover-color: #000;

/** FileSelector*/
@wx-fileSelector-active-border-color: @themeColor;
@wx-fileSelector-drop-border-color: @themeColor;

@check-box-bg:#279b7e;
@check-box-bg-active:#28a688;

@radio-box-bg:#279b7e;
@radio-box-bg-active:#28a688;
