@import "../../styles/themes/default";
@import "../../styles/index";

@headerPrefix: ~"@{prefix}-header";

/**直接按钮**/
.@{headerPrefix} {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  padding: 0 10px;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  &-left {

  }
  &-logo {
    padding: 0 10px;
    display: inline-block;
    cursor: default;
    margin-right: 8px;
    > svg {
      width: 30px;
      height: 30px;
      position: relative;
      top: -2px;
    }
  }

  &-right {
    margin-right: 10px;
  }
}
