@import "../../styles/themes/default";
@import "../../styles/index";

@formItemPrefix: ~"@{prefix}-form-item";

.@{formItemPrefix} {
  display: flex;
  &-wrapper {
    flex: 2;
  }
  &-label {
    display: flex;
    width: 80px;
    justify-content: flex-end;
    line-height: 32px;
    color: #333232;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    &-text {

    }
    &-mark {
      &::before {
        display: inline-block;
        content: '*';
        color: @wxErrorColor;
        font-size: 12px;
        position: relative;
        top: -6px;
        left: 0;
      }

    }
    &-colon {
      padding: 0 6px 0 4px;
    }
  }
}
