@import "../../styles/themes/default";
@import "../../styles/index";

@wrapperPrefix: ~"@{prefix}-wrapper";

.@{wrapperPrefix} {
  margin: 10px;
}

@dragWrapperPrefix: ~"@{prefix}-drag-wrapper";

.@{dragWrapperPrefix} {
  border: 1px solid #e1e1e1;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 9999999;
  &-title {
    background: #e0e0e0;
    padding: 10px;
  }
  &-body {
    padding: 10px;
    background-color: #fff;
  }
  &.ws-moving &-title {
    cursor: move;
  }
}

@fullWrapperPrefix: ~"@{prefix}-wrapper-full";
.@{fullWrapperPrefix} {
  &-close {
    width: 40px;
    height: 40px;
    position: fixed;
    background-color: #474747;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
    transition: all .6s ease;
    .wx-v2-svg-icon > svg {
      fill: #fff;
      width: 25px;
      height: 25px;
    }
    &-hide {
      top: -100px;
    }
  }
  &-header {
    cursor: default;
  }
  &-body {
    background: #fff;
    overflow: auto;
  }
}
